
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Rubik:wght@300;400;500&display=swap');
*{

    font-family: 'Rubik', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
       font-weight: extrabold nunito 800;
    
}
